[ req ]
distinguished_name              = req_dn
default_md                      = sha256
req_extensions			= req_ext

[ req_dn ]
countryName                     = Country Name (2 letter code)
stateOrProvinceName             = State or Province Name
localityName                    = Locality Name
0.organizationName              = Organization Name
organizationalUnitName          = Organizational Unit Name
# commonName is deprecated
commonName                      = Common Name (e.g. your hostname)

countryName_default             = US
stateOrProvinceName_default     = California
localityName_default            = Palo Alto
0.organizationName_default      = VMware, Inc
organizationalUnitName_default  = Tanzu Labs
commonName_default              = www.myserver.com

[ req_ext ]
# A critical extension means that the requester or certificate authority
# has requested that any entity that is attempting to verify the certificate
# must understand and implement the extension or must fail verification
basicConstraints = critical, CA:false
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectKeyIdentifier = hash
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = mail.myserver.com
DNS.2 = *.otherserver.com
# IP addresses are frowned upon in certs, but some like to do it
# the problem is that they put them in as DNS entries
IP = 1.2.3.4
